// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task_link {
  text-decoration: underline;
}

.page {
  padding-left: 10px;
}
.next {
  padding-left: 10px;
}
.last {
  padding-left: 10px;
}
